<!doctype html>
<html lang="en" ng-app="toDoModule">
  <head>
    <meta charset="utf-8">
    <title>ToDo list</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoController.js"></script>
  </head>
  <body ng-controller="toDoController as toDoCtrl">
    <h2>What needs to be done?</h2>
      <div class="">
        
        <form class="form-todo" ng-submit="toDoCtrl.insertToDo()">
          <input type="text" value="What needs to be done" ng-model="toDoCtrl.newMessage">
          </input>
        </form>

        <ul class="list-todos" ng-repeat="toDo in toDoCtrl.displayable">
          <input type="checkbox" class="state" ng-click="toDoCtrl.changeState(toDo)">
          <li class="list-todo-item"> {{toDo.message()}}</li>
          <button class="delete-todo" ng-click="toDoCtrl.deleteToDo(toDo)"></button>
        </ul>

        <p>n items left</p>
        <form>
          <button ng-click="toDoCtrl.allFilter()" class="all-filter">All</button>
          <button ng-click="toDoCtrl.activeFilter()">Active</button>
          <button ng-click="toDoCtrl.completeFilter()" class="complet-filter">Complete</button>
          <button ng-click="toDoCtrl.clearAllFilter()"">Clear All</button>
        </form>
      </div>
  </body>
</html>